<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.3.1" targetFramework="net452" />
  <package id="AWSSDK.Kinesis" version="3.3.0.1" targetFramework="net452" />
  <package id="NLog" version="4.3.10" targetFramework="net452" />
  <package id="NLog.Config" version="4.3.10" targetFramework="net452" />
  <package id="NLog.Schema" version="4.3.10" targetFramework="net452" />
</packages>